%h1 New Form

= simple_form_for @poll do |f|
  -# = f.error_messages
  = f.input :question
  -# = f.input :price, :hint => "prices should be in USD"
  -# = f.input :released_on
  -# = f.association :category, :include_blank => false
  -# = f.input :rating, :collection => 1..5, :as => :radio
  -# = f.input :discontinued
  = f.button :submit

= link_to "Back", root_path
